@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Rajdhani:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}

@mixin display($dis: flex, $jus: center, $align: center, $flex-direction: row, $font-size: 16px, $color: aliceblue, $flex-wrap: nowrap) {
    display: $dis;
    align-items: $align;
    justify-content: $jus;
    flex-direction: $flex-direction;
    color: $color;
    font-size: $font-size;
    flex-wrap: $flex-wrap;
}

body {
    background-color: black;


    .border {
        height: 100vh;
        // border: 1px solid white;
        @include display;
        position: relative;
        background-image: url('./img/banner.png');
        background-attachment: fixed;
        background-size: cover;

        .montanar {
            width: 85%;
            height: 35%;
            // border: 1px solid white;
            @include display($jus: space-around, $flex-direction: column);

            .resort {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 8em;
                text-align: center;
                color: white;
            }

            .unlock {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2em;
                color: white;
                word-spacing: 4px;
            }

            @media(max-width:1100px) {
                font-size: 12px;
            }

            @media(max-width:1100px) {
                font-size: 7px;
            }
        }

        .navbar {
            width: 85%;
            height: 100px;
            // border: 1px solid white;
            position: absolute;
            top: 5px;
            @include display($jus: space-between);



            .home {
                @include display($jus: space-evenly);
                min-width: 44%;
                text-transform: capitalize;
                height: 98%;

                // border: 1px solid white;
                @media(max-width:550px) {
                    font-size: 12px;
                }

                .hh {
                    padding: 8px;
                    width: 16%;
                    height: 50%;
                    @include display($font-size: 1.4em);

                    a {
                        color: #009DFF;
                        text-decoration: none;
                        font-weight: 650;
                        font-family: 'Roboto Condensed', sans-serif;
                    }

                    transition: 0.8s;

                    &:hover {
                        border-bottom: 6px solid aqua;
                    }

                }
            }

            .montana {
                @include display;
                width: 15%;
                height: 98%;
                // border: 1px solid white;

                .img1 {
                    width: 98%;
                    object-fit: contain;
                    height: 98%;
                }

                @media(max-width:998px) {
                    display: none;
                }

            }

            .book {
                @include display;
                width: 35%;
                height: 98%;
                // border: 1px solid white;

                @media(max-width:998px) {
                    display: none;
                }

                .div1 {
                    width: 40%;
                    height: 80%;
                    // border: 1px solid white;
                    @include display($jus: space-around);


                    .ff {
                        font-size: 1.3em;
                        transition: 0.8s;
                        cursor: pointer;

                        &:hover {
                            color: #009DFF;
                            transition: 0.8s;
                        }
                    }
                }

                .div2 {
                    @include display;
                    width: 60%;
                    height: 80%;
                    // border: 1px solid white;

                    .bookaroom {
                        @include display;
                        width: 70%;
                        height: 80%;
                        font-size: 1.3em;
                        font-family: 'Roboto Condensed', sans-serif;
                        background-color: #009DFF;
                        color: white;
                        transition: 0.6s;

                        &:hover {
                            transition: 0.6s;
                            background-color: white;
                            color: #009DFF;
                        }
                    }
                }
            }

            .bar {

                width: 20%;
                height: 98%;
                display: none;
                // border: 1px solid white;

                @media(max-width:998px) {
                    @include display($font-size: 1.8em, $color: white);
                }
            }
        }
    }


    .border0 {
        height: 100vh;
        // border: 1px solid white;
        @include display($flex-wrap: wrap);
        gap: 20px;

        .left {
            width: 49%;
            height: 90%;
            // border: 1px solid white;
            @include display;


            @media(max-width:1119px) {
                width: 90%;
                height: 70%;
            }

            .leftbox {
                // height: 90%;
                // width: 90%;
                // border: 1px solid white;
                @include display($jus: space-evenly, $flex-direction: column);

                @media(max-width:1208px) {
                    font-size: 14px;
                }

                .about {
                    @include display($font-size: 1.4em);
                    align-self: flex-start;
                    margin-left: 40px;
                    padding: 25px 20px;
                    font-family: 'Rajdhani', sans-serif;
                }

                .lux {
                    @include display($font-size: 3.6em);
                    align-self: flex-start;
                    margin-left: 40px;
                    padding: 25px 20px;
                    font-family: 'Itim', cursive;

                    &::selection {
                        background-color: #009DFF;
                        color: black;
                    }
                }

                .suscip {
                    @include display($font-size: 1.5em);
                    align-self: flex-start;
                    margin-left: 40px;
                    padding: 25px 20px;
                    font-family: 'Rajdhani', sans-serif;
                }

                .learn {
                    @include display($font-size: 1.1em);
                    align-self: flex-start;
                    margin-left: 40px;
                    padding: 25px 20px;

                    a {
                        font-family: 'Roboto Condensed', sans-serif;
                        text-decoration: none;
                        color: #009DFF;
                        transition: 0.4s;

                        &:hover {
                            transition: 0.4s;
                            color: aqua;
                        }
                    }
                }
            }
        }

        .right {
            width: 49%;
            height: 90%;
            // border: 1px solid white;
            @include display;

            @media (max-width:765px) {
                width: 49%;
                height: 50%;
            }

            @media (max-width:705px) {
                height: 50%;
                width: 60%;
            }

            .imgleft {
                border: 1px solid white;
                width: 294px;
                height: 400px;
                align-self: flex-start;
                margin: 15px;
                background-image: url('./img/about_2.png.webp');
                background-position: center;
                background-size: cover;

                &:hover {
                    opacity: 0.5;
                }

                @media (max-width:765px) {
                    width: 254px;
                    height: 350px;
                }

                @media (max-width:705px) {
                    width: 254px;
                    height: 350px;
                }
            }

            .imgright {
                align-self: flex-end;
                // border: 1px solid white;
                width: 294px;
                height: 400px;
                margin: 15px;
                background-image: url('./img/about_1.png.webp');
                background-position: center;
                background-size: cover;
                transition: 0.6s;

                &:hover {
                    opacity: 0.5;
                }

                @media (max-width:765px) {
                    width: 254px;
                    height: 350px;
                }

                @media (max-width:705px) {
                    width: 254px;
                    height: 350px;
                }
            }

            @media(max-width:1119px) {
                width: 90%;
                height: 80%;
            }
        }
    }
}